body{
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-weight: 200;
    font-family: sans-serif;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}
        @media all and (max-width: 500px)